@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/luna-amber/theme.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
